{
    "env": {
      "commonjs": true,
      "es6": true,
      "node": true
    },
    "extends": ["prettier", "airbnb-base"],
    "plugins": ["prettier"],
    "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
      "ecmaVersion": 2018
    },
    "rules": {
      "camelcase": "off",
      "consistent-return": "off",
      "no-undef":"off",
      "global-require": "off",
      "import/no-dynamic-require": "off",
      "no-param-reassign": "off",
      "object-curly-newline": "off"
      
    }
}